---
layout: default
---

{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}
<div>
Filter Tags:
{% for tag in sortedtags reversed %}
  {% assign tagitems = tag | split: '#' %}
  <a href="/tags/{{ tagitems[1] }}">#{{ tagitems[1] }} ({{ tagitems[2] }})</a>&nbsp;
{% endfor %}
</div>



<div class="home">

{%- if site.posts.size > 0 -%}
<h2>{{ page.post_list_tag | capitalize | default: "All" }} Blog Posts</h2>

{%- comment -%}
If page.post_list_tag is given, just show all articles belonging to that tag.
Otherwise do pagination in `index.html`
{%- endcomment -%}
{%- if page.post_list_tag %}
  {% for post in site.tags[page.post_list_tag] %}
  <h3 style="margin-top: 30px;">
    ({{ post.date | date: "%Y-%m-%d" }})
    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  </h3>
  <div style="padding-left: 20px;">
  {%- if post.image %}
  <img alt="img" src="{{ post.image }}" class="list">
  {%- endif -%}
  {{ post.excerpt }}</div>
  {%- endfor -%}
{%- endif -%}

{{ content }}

<p style="text-align: center;"><a href="{{ "/feed.xml" | relative_url }}"> Subscribe [RSS]</a></p>
{%- endif -%}

</div>
